{% extends "layout.html" %}

{% block title %}
<title>Spooktastic Codefest </title>
{% endblock %}

{% block main %}
    <header>
        <h1>Winterfest</h1>
    </header>

    <section id="about">
        <h2>About Winterfest</h2>
        <p>Winterfest is an exciting Tech ExPo style event hosted by the CS Council, aimed at providing older elementary school and middle school students with an exploratory view of STEM topics. The event features a diverse selection of booths, tables, and speakers, offering a panoramic experience of the world of technology.</p>
    </section>

    <section id="activities">
        <h2>Activities</h2>
        <p>Winterfest offers a range of engaging activities, including:</p>
        <ul>
            <li>In-person booths and exhibits</li>
            <li>Estimathons and other interactive challenges</li>
            <li>Guest speakers from various STEM fields</li>
        </ul>
        <p>Join us to experience the wonders of science and technology!</p>
    </section>

     <section id="schedule">
        <h2>Schedule</h2>
    </section>

    <section id="sponsors">
        <h2>Guest Speakers</h2>
        <p>We're excited to host renowned guest speakers who will share their insights on cutting-edge STEM topics. Stay tuned for the speaker lineup!</p>
    </section>

    <section id="signup">
        <h2>Sign Up Here</h2>
    </section>
{% endblock %}